
@media all {

	* { margin:0; padding:0; }
	* html body * { overflow:visible; }

	body {	
		font-size:100%;	
		background:#fff;
		color:#000;
		text-align:left; /* LTR */
	}
	div:target { outline:0 none; }
	
	fieldset, img { border:0 solid; }

	ul, ol, dl { margin:0 0 1em 1em; } /* LTR */
	li {
		line-height:1.5em;
		margin-left:0.8em; /* LTR */
	}
	.ym-clearfix:before {
		content:"";
		display:table;
	}
	.ym-clearfix:after {
		clear:both;
		content:".";
		display:block;
		font-size:0;
		height:0;
		visibility:hidden;
	}
}

@media screen, projection {
	
	.ym-gl { float:left; margin: 0; }
	.ym-gr { float:right; margin: 0 0 0 -5px; }
}

@media all {
}

@media print {
}