html {
    height: 100%;
}
html, body {
    min-height: 100%;
}
body {
    background: #fff none repeat scroll 0 0;
    color: #323b41;
    overflow-x: hidden;
    overflow-y: scroll;
}
.ym-wrapper {
    margin: 0 auto;
    max-width: 1030px;
    min-height: 1240px;
    min-width: 992px;
    overflow: hidden;
    width: auto;
}

a {
    color: #d81e05;
    text-decoration: none;
}

a:focus {
    outline: 0 none;
}


ul, li {
    list-style: outside none none;
}
input {
    background: transparent none repeat scroll 0 0;
    color: #323c41;
    font-family: "CoreSansAMedium",Arial,sans-serif;
    font-size: 15px;
}
.sprite_icons {
    background-color: transparent;
    background-image: url("../../../static/images/Facelift2012/background/sprite_icons.png");
    background-repeat: no-repeat;
}
:-moz-placeholder {
    color: #6f7579;
}
#header, #content, #footer .footer, #footer .service {
    border-left: 1px solid #c1c4c6;
    border-right: 1px solid #c1c4c6;
}
#header .top {
    background: rgba(0, 0, 0, 0) url("../../../static/images/Facelift2012/background/bg_top.png") repeat-x scroll center bottom;
    height: 130px;
    padding-bottom: 2px;
    position: relative;
}
#header .top .logo_wrap {
    left: 18px;
    position: absolute;
    top: 28px;
    width: 31%;
}
#header .top .logo_wrap img {
    border: medium none !important;
    width: 100%;
    max-width: 407px;
}
#nav {
    left: 20px;
    position: absolute;
    top: 16px;
    z-index: 50;
}
#countrySearch {
    font-family: "CoreSansAMedium",Arial,sans-serif;
    font-size: 13px;
    position: absolute;
    right: 0;
    z-index: 50;
}
#countrySearch .normalLinks {
    background: rgba(0, 0, 0, 0) url("../../../static/images/Facelift2012/megadropdown/bg_menu_sep.png") no-repeat scroll right center;
    height: 30px;
    padding: 5px 10px 0;
}

#countryDropdown {
    background: rgba(0, 0, 0, 0) url("../../../static/images/Facelift2012/megadropdown/bg_menu_sep.png") no-repeat scroll right center;
    height: 30px;
    line-height: 30px;
    padding-top: 5px;
}
#countryDropdown .sprite_icons {
    display: inline-block;
    height: 7px;
    margin: 0 0 1px 5px;
    width: 14px;
}
#countryDropdown a:hover .sprite_icons {
    background-position: -61px 0;
}
#countryDropdown .language {
    padding: 0 10px;
    position: relative;
    z-index: 200;
}
#countryDropdown .drop {
    display: none;
}
#countryDropdown .language a {
    color: #323c41;
}
#countryDropdown .language a:hover {
    color: #d81e05;
}
#countryDropdown .language .drop {
    display: none;
    left: -10px;
    position: absolute;
    top: 0;
    width: 251px;
    z-index: 150;
}
#countryDropdown .language .drop .top {
    background: rgba(0, 0, 0, 0) url("../../../static/images/Facelift2012/background/channel_dropdown_top.png") no-repeat scroll 0 0;
    height: 15px;
    padding: 0;
}
#countryDropdown .language .drop .bottom {
    background: rgba(0, 0, 0, 0) url("../../../static/images/Facelift2012/background/channel_dropdown_bottom.png") no-repeat scroll 0 0;
    height: 31px;
}
#countryDropdown .language .drop ul {
    background: rgba(0, 0, 0, 0) url("../../../static/images/Facelift2012/background/channel_dropdown_middle.png") repeat-y scroll 0 0;
    margin: 0;
    padding: 0 10px;
    width: 229px;
}
#countryDropdown .language .drop li {
    line-height: 1em;
    margin: 0;
}
#countryDropdown .language .drop li a {
    display: block;
    font-family: "CoreSansAMedium",Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding: 0 25px;
}
#countryDropdown .language .drop li a.active {
    background: rgba(0, 0, 0, 0) url("../../../static/images/Facelift2012/background/channel_navigation_channels_active.png") no-repeat scroll 8px 4px;
}
#countryDropdown .language .drop li a:hover {
    background: rgba(0, 0, 0, 0) url("../../../static/images/Facelift2012/background/channel_navigation_channels_hover.png") repeat-x scroll 0 0;
    color: #fff;
}
#content {
    background: rgba(0, 0, 0, 0) url("../../../static/images/Facelift2012/background/bg_middle.png") repeat-x scroll 0 -31px;
}
span.arrowDown {
    background-position: 0 0;
    display: inline-block;
    height: 7px;
    margin-left: 3px;
    padding-top: 2px;
    width: 14px;
}
#footer {
    color: #323b41;
    font-family: "CoreSansAMedium",Arial,sans-serif;
    font-size: 13px;
    background: #d6d8d9;
    margin: 0 0 30px;
    position: relative;
}
#footer .footer {
    height: 156px;
    padding-left: 12px;
    position: relative;
    margin: 0 0 40px;
}
#footer .TBook1418 {
    font-family: "CoreSansARegular",Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
}
#footer .showRechtliches.active {
    background-color: #f5f5f5;
    color: #323c41;
}
 #footer .showRechtliches.active span.arrowDown {
    background-position: 0 0;
}
span.arrowDown {
    display: inline-block;
    height: 7px;
    margin-left: 3px;
    padding-top: 2px;
    width: 14px;
}
#footer .TMed1418 {
    font-family: "CoreSansAMedium",Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
}
#footer .social {
    margin: 0;
    width: 396px;
    background: transparent url("../../../static/images/Facelift2012/background/sprite_lines_footer.png") no-repeat scroll 0 0;
    max-height: 110px;
    overflow: hidden;
}
#footer .socialDivTop {
    float: left;
    height: 47px;
    padding: 20px 0 0 20px;
    width: 178px;
}
#footer .socialDivBottom {
    float: left;
    height: 47px;
    padding: 5px 0 0 20px;
    width: 178px;
}
a.facebook span.sprite_icons {
    background-position: -2px -393px;
    display: inline-block;
    height: 33px;
    width: 33px;
}
a.youtube span.sprite_icons {
    background-position: -1px -518px;
    display: inline-block;
    height: 33px;
    width: 33px;
}
a.twitter span.sprite_icons {
    background-position: -1px -432px;
    display: inline-block;
    height: 33px;
    width: 33px;
}
a.redblog span.sprite_icons {
    background-position: -1px -475px;
    display: inline-block;
    height: 33px;
    width: 33px;
}
#footer a span.linkText {
    color: #323c41;
    display: table-cell;
    height: 33px;
    line-height: 16px;
    vertical-align: middle;
    width: 137px;
    padding-left: 3px;
}
#footer a:hover span.linkText {
    color: #d81e05;
}
#footer .service {
    position: absolute;
    top: 116px;
    height: 80px;
    line-height: 30px;
    background: url("../../../static/images/Facelift2012/footer_welle.png") no-repeat left bottom;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
#footer .service a {
    color: #fff;
    display: block;
    line-height: 40px;
    padding: 0 10px;
}
#footer .service a:hover {
    text-decoration: underline;
}
#footer .service ul {
    list-style-type: none;
    margin: 40px 0 0;
    width: 80%;
    overflow: hidden;
    float: left;
    position: relative;
}
#footer .service ul li {
    float: left;
    line-height: 1em;
    margin: 0;
}
#footer .service img.starAlliance {
    float: right;
    margin: 50px 10px 0 0;
    border: medium none !important;
    width: 185px;
}
#footer .service span.arrowDown {
    background-position: -61px -17px;
}
#footer #rechtlichesBox {
    box-sizing: border-box;
    display: none;
    background: #f5f5f5;
    border-left: 1px solid #c1c4c6;
    border-right: 1px solid #c1c4c6;
    border-bottom: 1px solid #c1c4c6;
    float: left;
    margin: 0;
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 40px;*/
    width: 100%;
    z-index: 1000;
    margin-bottom: 40px;
    position: relative;
    top: -1px;
}
#footer #rechtlichesBox .top {
    padding: 7px 7px 0;
}
#footer #rechtlichesBox .middle {
    font-family: "CoreSansARegular",Arial,sans-serif;
    font-size: 14px;
    color: #323c41;
    padding: 0 3px;
}
#footer #rechtlichesBox .middle ul, #footer #rechtlichesBox .middle li {
    line-height: 1em;
    margin: 0;
    padding: 0;
}
#footer #rechtlichesBox .middle ul {
    padding: 10px 0;
}
#footer #rechtlichesBox .middle ul a {
    color: #323c41;
    display: block;
    line-height: 18px;
    padding: 6px 20px 6px 0;
}
#footer #rechtlichesBox .middle ul a:hover {
    color: #d81e05;
    text-decoration: none;
}
#footer #rechtlichesBox .middle ul a:hover {
    background: #f5f5f5 none repeat scroll 0 0;
}
#footer #rechtlichesBox .bottom {
    height: 20px;
}
.clearfix {
    clear: both;
}
#nav {
    left: 214px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 89px;
    width: 100%;
    z-index: 30;
}
#nav ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#nav ul li {
    background: rgba(0, 0, 0, 0) url("../../../static/images/Facelift2012/background/line_metanavi_up.png") no-repeat scroll right bottom;
    float: left;
    line-height: 100%;
    margin: 0;
    padding: 0 0 7px;
    position: relative;
}
#nav ul li.last {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#nav ul li a {
    color: #323c41;
    font-family: "CoreSansABold",Arial,sans-serif;
    font-size: 17px;
}
#nav ul li a:hover {
    color: #d81e05;
}
#nav ul li > a { 
    padding: 0 10px 0 10px; 
    line-height: 42px; 
    margin: 0px 0 0 -1px; 
    display: block; 
    height: 33px; 
    border: 1px solid transparent; 
    font-size: 17px; 
    color: #323c41; 
}
#nav ul li > a:hover { 
    color: #323c41; 
}
#nav ul li.on > a { 
    color: #d81e05; 
}
#nav ul li.on > a:hover { 
    color: #d81e05 !important; 
}
#nav ul li.on a {
    color: #d81e05;
}

#countrySearch div:nth-child(3n+4){
    background: none;
}

/* tab fixes */
a.logo:link {display:block; text-decoration: none;}
a.logo:visited {text-decoration: none;}
a.logo:hover {text-decoration: none;}
a.logo:focus {border:1px dotted #000;}
a.logo:active {text-decoration: none;}


#countrySearch .normalLinks a:link, #countrySearch .language a:link{
    color: #323c41;
    line-height: 30px;
}
#countrySearch .normalLinks a:visited, #countrySearch .language a:visited{
    color: #323c41;
}
#countrySearch .normalLinks a:hover, #countrySearch .language a:hover {
    color: #cc1e05;
}
#countrySearch .normalLinks a:focus, #countrySearch .language a:focus{
    color: #d81e05;
}
#countrySearch .normalLinks a:active, #countrySearch .language a:active {
    color: #d81e05;
}

#nav ul li > a:link { 
    padding: 0 10px 0 10px; 
    line-height: 42px; 
    margin: 0px 0 0 -1px; 
    display: block; 
    height: 33px; 
    border: 1px solid transparent; 
    font-size: 17px; 
    color: #323c41; 
}
#nav ul li > a:visited { 
    color: #323c41; 
}
#nav ul li > a:hover { 
    color: #323c41; 
}
#nav ul li > a:focus { 
    color: #d81e05;
}
#nav ul li > a:active { 
    color: #323c41; 
}
#footer a:link span.linkText {
    color: #323c41;
    display: table-cell;
    height: 33px;
    line-height: 16px;
    padding-left: 3px;
    vertical-align: middle;
    width: 137px;
}
#footer a:visited span.linkText {
    color: #323c41;   
}
#footer a:hover span.linkText, #footer a:focus span.linkText,  #footer a:active span.linkText{
    color: #d81e05;  
}
#footer .service a:link, #footer .service a:visited{
    color: #fff;
    display: block;
    line-height: 40px;
    padding: 0 10px;
}
 #footer .service a:hover, #footer .service a:focus, #footer .service a:active {
    text-decoration: underline;
}

#footer .service a:focus img.starAlliance {
    border-bottom: 1px solid #fff !important;   
}
/*eo tab fixes */